---
layout: archive
title: "Undergraduate Study & Grades"
permalink: /portfolio/
author_profile: true
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Undergraduate Study & Grades</title>
<style>
  .highlight-red { color: red; }
  .highlight-green { color: green; }
  .highlight-blue { color: blue; }
</style>
</head>
<body>
<h1>Academic Experience</h1>
<p>During my undergraduate studies at <span class="highlight-red">SJTU(Shanghai Jiao Tong University)</span>, I demonstrated strong academic performance, which provided me with the opportunity to study abroad as an exchange student at <span class="highlight-green">UNSW (The University of New South Wales)</span> for one semester. Additionally, I participated in the Future Scientist Exchange Program at <span class="highlight-blue">USTC(University of Science and Technology of China)</span> as a six-week summer research program. These experiences significantly enhanced both my academic profile and my research skills.</p>

<h1>Grades</h1>
<p>My academic performance is partially displayed as follows:</p>
<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Period</th>
      <th>Year</th>
      <th>Score</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SJTU</td>
      <td>Sep 2021 - Jun 2022</td>
      <td>Freshman</td>
      <td>80.1/100</td>
      <td>21/33</td>
    </tr>
    <tr>
      <td>SJTU</td>
      <td>Sep 2022 - Jun 2023</td>
      <td>Sophomore</td>
      <td>88.3/100</td>
      <td>8/33</td>
    </tr>
    <tr>
      <td>SJTU</td>
      <td>Sep 2023 - Jun 2024</td>
      <td>Junior</td>
      <td>89.6/100</td>
      <td>7/33</td>
    </tr>
    <tr>
      <td>UNSW</td>
      <td>Sep 2023 - Dec 2023</td>
      <td>Term 3</td>
      <td>87.3/100</td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<p>My transcript is available <a href="../assets/Transcript.pdf">here</a>.</p>

<h1>Scholarship and Honor</h1>
<p>XXXX</p>

<h1>Personal Statement</h1>



<p>During my first year at SJTU, I faced challenges adapting to the academic environment and dealing with pandemic-related restrictions. Despite initial setbacks and grade inflation in parallel classes, my academic performance steadily improved. I took additional mathematics courses and enrolled in <strong>General Relativity</strong>, while also auditing <strong>Gauge Field Theory</strong>, only reserved for graduate students. I further enhanced my understanding of theoretical physics through self-study and participation in the <a href="../assets/SEU%202023+2024%20Topics.pdf">Southeast University Summer School on String Theory, Field Theory, and Holography</a>.</p>
<p>I demonstrate strong self-learning abilities and a deep passion for theoretical physics beyond my coursework. To learn more about this, see my <a href="teaching.html">notes</a>.</p>


</body>
</html>
<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

