---
layout: archive
title: "Research Experiences"
permalink: /publications/
author_profile: true
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Research Experiences</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .project { margin-bottom: 20px; }
        .project h2, .project p { margin: 0; }
        .blue-header { color: rgb(18, 179, 215); }
    </style>
    <style>
        /* 设置small project为灰色并倾斜 */
        .gray-italic {
            color: gray; /* 或者使用颜色代码 #888 */
            font-style: italic; /* 设置文本为斜体 */
        }
    </style>

</head>
<body>
<!-- ###############################2025 5 23 ############################### -->
  <p>The following content includes specific details of my work and <span class="gray-italic">small project</span>.</p>



<div class="project"> 
    <details>
        <summary><span class="gray-italic">A.Loop Calculation</span><br></summary>
        <p>Studying six-point two-loop amplitudes in ABJM theory under Prof. Kai Yan's guidance.</p>
        <p>Guided by Prof Kai Yan (SJTU) in my semester project, I mainly studied some trick of Feynman Parameterization in calculation of two loop integral. I repeated some detail steps in a calculation and a wrote what I repeated in following <a href="../assets/fp.pdf" target="_blank">note</a>.</p>
    </details>
</div>

<div class="project"> 
  <details>
        <summary><span class="gray-italic">B.Black Holes Photon Ring Holography</span><br></summary>
        <p>We investigated the holographic properties of Reduced Kiselev Black Holes under Prof. Tower Wang's supervision (ECNU). Our main focus was on symmetry analysis, extending the original findings of identical symmetry groups in the near-horizon limit to different black hole. We explored the observational properties of Reduced Kiselev Black Holes within the context of black hole accretion disk dynamics and holographic duality, incorporating Strominger's insights on the holography of the photon ring.</p>
        <p>Here, I summarize key aspects of our work:</p>
        <ol>
            <li>Extending to Kiselev black holes resulted in trivial outcomes.</li>
            <li>Reviewed the construction of symmetries.</li>
            <li>Demonstrated that our model does not yield non-trivial results.</li>
        </ol>
        <!-- <p>Work Summary (To be translated and uploaded soon)</p> -->
        <!-- <a href="../assets/Kiselev and holography.pdf" target="_blank">Work Summary</a> -->
    </details>
</div>



<div class="project"> 
  <details>
      <summary>C.Particle Experiment<br></summary>
      <p>Under Prof Kim Siang (TDLI)'s instruction, our group did the feasibility study of Muon creation using high-energy electron beam from SHINE facility. Details of my work in this project are as follows.</p>
      <ul>
          <li>Utilized Geant4-based software musrSim to simulate high-energy particle beam interactions, optimizing target materials and beam parameters to enhance muon yield and streamline muon beam lines.</li>
          <li>Configured data oscilloscopes and LaBr3 experimental equipment, preparing data acquisition codes for preliminary experiments at SXFEL.</li>
      </ul>
      Here is my <a href="../assets/wangliang_PRP_english ver3.pdf" target="_blank">work summary</a> and my <a href="../assets/PRP ppt.pptx" target="_blank">report slides</a>
  </details>
</div>

<div class="project">
    <details>
        <summary>D.SUSY SYK<br></summary>
        <p>This project is supervised by Prof Cheng Peng(KITS-UCAS)and it is still ongoing. So far, I have derived the G-Sigma action of the model, solved the Schwinger-Dyson equation in the conformal region, and calculated the eigenvalues of the kernel. Currently, <a href="../assets/susysyk.pdf" target="_blank">analytical work</a> are mostly done but numerical work is in progress.</p>    
      </details>
</div>

<!-- ###############################2025 5 23 ############################### -->

<!--   
  <p>I have tried research across a variety of fields, including hep-ex, gr-qc, and hep-th. The following content includes specific details of my work and presentations.</p>
  <h4 class="blue-header">*Click the triangle to see details</h4>

  <div class="semester-projects">
    <h2>0.Semester Projects in Cutting-edge Physics</h2>
    
    <div class="project">
       
        <details>
            <summary>A.Particle Experiment</summary>
            <p>Feasibility Study of Muon Source Creation Using High-Energy Electrons at SHINE Beam Dump.</p>
            <a href="../assets/wangliang_PRP_english_ver3.pdf" target="_blank">Project Paper</a> 
            <a href="../assets/PRP ppt.pptx" target="_blank">Project Slides</a>
            <ul>
                <li>Utilized Geant4-based software musrSim to simulate high-energy particle beam interactions, optimizing target materials and beam parameters to enhance muon yield and streamline muon beam lines.</li>
                <li>Configured data oscilloscopes and LaBr3 experimental equipment, preparing data acquisition codes for preliminary experiments at SXFEL.</li>
            </ul>
        </details>
    </div>

    <div class="project">
        
        <details>
            <summary>B.Black Holes Photon Ring Holography</summary>
            <p>Investigated the holographic properties of Reduced Kiselev Black Holes under Prof. Tower Wang's supervision. Our main focus was on symmetry analysis, extending the original findings of identical symmetry groups in the near-horizon limit to different black hole. We explored the observational properties of Reduced Kiselev Black Holes within the context of black hole accretion disk dynamics and holographic duality, incorporating Strominger's insights on the holography of the photon ring.</p>
            <p>Here, I summarize key aspects of our work:</p>
            <ol>
                <li>Extending to Kiselev black holes resulted in trivial outcomes.</li>
                <li>Reviewed the construction of symmetries.</li>
                <li>Demonstrated that our model does not yield non-trivial results.</li>
            </ol>
            <a href="../assets/Kiselev and holography.pdf" target="_blank">Work Summary (CN latex)</a>
        </details>
    </div>

    <div class="project">
        
        <details>
            <summary>C.Loop Calculation</summary>
            <p>Studying six-point two-loop amplitudes in ABJM theory under Prof. Kai Yan's guidance.</p>
            <p>Examining the structure of six-point two-loop amplitudes within the framework of ABJM theory and trying to extend to three loops.I mainly studied the trick of Feynman Parameterization on calculating two loop integral, and all notes are documented in <a href="../assets/fp.pdf" target="_blank">here (En latex)</a>.</p>
        </details>
    </div>
</div>


    <div class="project">
        <h2>1.Inflation and Cosmological Perturbation Theory</h2>
        <details>
            <summary>A.Inflation </summary>
            <p>During a ten-week exchange program at UNSW,I studied inflationary models using the Baumann's cosmology and he's TASI lecture notes and wrote <a href="https://leonard-wang-673.github.io/teaching/" >Classical Cosmology Note</a>, and performed some cosmological simulations with CAMB.</p>
            
        </details>
        <details>
          <summary>B.Cosmological Perturbation Theory</summary>
          <p>Under Prof. He Hong Jian's guidance, explored perturbation theory and Bootstrap methods during the inflationary epoch and wrote <a href="https://leonard-wang-673.github.io/teaching/">Cosmological Perturbation Theory Notes</a>.</p>
          
          <p>Studied model-independent methods to constrain correlation functions during early universe inflation, using Bootstrap techniques. Examined literature by Pajer, Xianyu, and Baumann on the application of Bootstrap in cosmology.</p>
      </details>
    </div>




    <div class="project">
        <h2>2.Holographic Duality Study On  AdS<sub>5</sub>/CFT<sub>4</sub></h2>
        <details>
            <summary>Expand Details</summary>
            <p>Under <a href="https://icts.ustc.edu.cn/english/22347/list.htm">Prof. Jianxin Lu's</a> mentorship, learned about the AdS<sub>5</sub>/CFT<sub>4</sub> correspondence and presented an <a href="https://leonard-wang-673.github.io/teaching/">AdS<sub>5</sub>/CFT<sub>4</sub> Poster</a>.</p>
          
            <p>Focused on understanding the string theory realization of the AdS<sub>5</sub>/CFT<sub>4</sub> duality from a top-down approach, using resources such as Maldacena's paper, Liu Hong's lectures, and the book 'Gauge/Gravity Duality' to study holographic dictionaries, black hole thermodynamics, and large-N expansions.</p>
        </details>
    </div>

    

    <div class="project">
        <h2>3.Correlation Functions in AdS<sub>3</sub>/CFT<sub>2</sub> Duality (On-going)</h2>
        <details>
            <summary>Expand Details</summary>
          
            <p>Under Prof. Cheng Peng's supervision,I am investigating four-point correlation functions of twistor operators on M<sup>N</sup>/S<sup>N</sup> orbifolds.</p>
            <p>In progress...</p>
        </details>
    </div>


    <div class="project">
      <h2>4.Study On SYK model(On-going)</h2>
      <details>
          <summary>Expand Details</summary>
          <p>Under Prof. Antonio's supervision, I am studying on SYK model in preparation for my bachelor thesis.</p>
          <p>In progress...</p>
      </details>
  </div> -->


</body>
</html>
        


    


<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



