---
layout: archive
title: "Research Experiences"
permalink: /publications/
author_profile: true
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Research Experiences</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .project { margin-bottom: 20px; }
        .project h2, .project p { margin: 0; }
        .blue-header { color: rgb(18, 179, 215); }
    </style>

</head>
<body>
  <p>I learn quickly and have diverse interests. Before specializing, I prefer to explore various fields to find my true passion. This is why I have research experience in multiple areas.</p>
  <h4 class="blue-header">*Click the triangle to see details</h4>

    <div class="project">
        <h2>Particle Experiment</h2>
        <details>
            <summary>Expand Details</summary>
            <p>Feasibility Study of Muon Source Creation Using High-Energy Electrons at SHINE Beam Dump.</p>
            <a href="../assets/wangliang_PRP_english ver3.pdf" target="_blank">Project Paper</a> <a href="../assets/PRP ppt.pptx" target="_blank">Project Slides</a>
            <ul>
                <li>Utilized Geant4-based software musrSim to simulate high-energy particle beam interactions, optimizing target materials and beam parameters to enhance muon yield and streamline muon beam lines.</li>
                <li>Configured data oscilloscopes and LaBr3 experimental equipment, preparing data acquisition codes for preliminary experiments at SXFEL.</li>
            </ul>
        </details>
    </div>

    <div class="project">
        <h2>Cosmology</h2>
        <details>
            <summary>Expand Details</summary>
            <p>During a ten-week exchange program at UNSW,I studied inflationary models using the Baumann's cosmology and he's TASI lecture notes and wrote <a href="https://leonard-wang-673.github.io/teaching/" >Classical Cosmology Note</a>, and performed some cosmological simulations with CAMB and CLASS software.</p>
            
        </details>
    </div>

    <div class="project">
        <h2>Cosmological Perturbation Theory</h2>
        <details>
            <summary>Expand Details</summary>
            <p>Under Prof. He Hong Jian's guidance, explored perturbation theory and Bootstrap methods during the inflationary epoch and wrote <a href="https://leonard-wang-673.github.io/teaching/">Cosmological Perturbation Theory Notes</a>.</p>
            
            <p>Studied model-independent methods to constrain correlation functions during early universe inflation, using Bootstrap techniques. Examined literature by Pajer, Xianyu, and Baumann on the application of Bootstrap in cosmology.</p>
        </details>
    </div>

    <div class="project">
      <h2>Black Holes Holography</h2>
      <details>
        <summary>Expand Details</summary>
        <p>Investigated the holographic properties of Reduced Kiselev Black Holes under Prof. Tower Wang's supervision. Our main focus was on symmetry analysis, extending the original findings of identical symmetry groups in the near-horizon limit to different black hole. We explored the observational properties of Reduced Kiselev Black Holes within the context of black hole accretion disk dynamics and holographic duality, incorporating Strominger's insights on the holography of the photon ring.
        </p>
        
        <p>Here, I summarize key aspects of our work:
        1. Extending to Kiselev black holes resulted in trivial outcomes.
        2. Reviewed the construction of symmetries.
        3. Demonstrated that our model does not yield non-trivial results.
        </p>
        <a href="../assets/Kiselev and holography.pdf" target="_blank">Work Summary (CN latex)</a>
      </details>
    </div>

    <div class="project">
        <h2>Holographic Duality</h2>
        <details>
            <summary>Expand Details</summary>
            <p>Under <a href="https://icts.ustc.edu.cn/english/22347/list.htm">Prof. Jianxin Lu's</a> mentorship, learned about the AdS<sub>5</sub>/CFT<sub>4</sub> correspondence and presented an <a href="https://leonard-wang-673.github.io/teaching/">AdS<sub>5</sub>/CFT<sub>4</sub> Poster</a>.</p>
          
            <p>Focused on understanding the string theory realization of the AdS<sub>5</sub>/CFT<sub>4</sub> duality from a top-down approach, using resources such as Maldacena's paper, Liu Hong's lectures, and the book 'Gauge/Gravity Duality' to study holographic dictionaries, black hole thermodynamics, and large-N expansions.</p>
        </details>
    </div>

    <div class="project">
        <h2>Scattering Amplitudes (On-going)</h2>
        <details>
            <summary>Expand Details</summary>
            <p>Studying six-point two-loop amplitudes in ABJM theory under Prof. Kai Yan's guidance.</p>
            <p>Examining the structure of six-point two-loop amplitudes within the framework of ABJM theory and trying to extend to three loop.</p>
        </details>
    </div>

    <div class="project">
        <h2>Correlation Functions in AdS<sub>3</sub>/CFT<sub>2</sub> Duality (On-going)</h2>
        <details>
            <summary>Expand Details</summary>
            <p>Under Prof. Cheng Peng's supervision, investigating four-point correlation functions of twistor operators on $M^N/S^N$ orbifolds.</p>
            <p>In progress...</p>
        </details>
    </div>


</body>
</html>
        


    


<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



