---
layout: archive
title: "Physics Notes"
permalink: /teaching/
author_profile: true
---

<p>Through lecture notes, YouTube videos, and discussions with teachers, I have gained a basic understanding of many cutting-edge topics in physics.The following links contain <strong>mixed handwritten notes in both Chinese and English</strong>, which <strong>serve as a showcase</strong> of the topics I have explored. The corresponding LaTeX documents are still being organized and will be updated gradually.</p>


<h2>Cosmology</h2>
<p>
  During my studies at UNSW, I learned Classical Cosmology. I also studied cosmological perturbation theory by reading the notes by Pajer. Subsequently, I delved into the bootstrap approach by reading the notes by Baumann and Xianyu.
</p>
<p>
  Here are my notes on various aspects of cosmology:
</p>
<ul>
  <li><a href="../assets/My_CV.pdf" target="_blank">Classical Cosmology Notes</a></li>
  <li><a href="../assets/My_CV.pdf" target="_blank">Cosmological Perturbation Theory Notes</a></li>
  <li><a href="../assets/My_CV.pdf" target="_blank">Bootstrap Approach Notes</a></li>
</ul>
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
